@use "global" as *;

.table {
  border: 1px solid $green;
  border-collapse: collapse;
  width: 100%;
}

.table__row {
}

.table__head {
  padding: rem(7) rem(7);
  border: 1px solid $green;
  background-color: $green;
  color: $white;
  font-family: "Noto Sans JP";
  font-size: rem(16);
  font-style: normal;
  font-weight: $bold;
  line-height: 1.500; /* 150% */

  @include mq("md") {
    padding: rem(41) rem(44);
  }
}

.table__head::before {
  // position: absolute;
  // top: 50%;
  // left: calc(50% - 88px);
  // transform: translateY(-50%);
  display: inline-block;
  content: "";
  background-image: url(../images/illust-whale.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: rem(24);
  height: rem(24);
  vertical-align: top;
  margin-right: rem(8);
}

.table__title {
  display: none;

  @include mq("md") {
    display: table-cell;
    text-align: center;
    width: rem(200);
    border: 1px solid $green;
    background-color: $green;
    color: $white;
    font-family: "Noto Sans JP";
    font-size: rem(16);
    font-style: normal;
    font-weight: $bold;
    line-height: 1.500; /* 150% */
  }
}

.table__title::after {
  display: block;
  content: "";
  background-image: url(../images/illust-whale.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: rem(64);
  height: rem(64);
  margin: rem(8) auto 0;
}

.table__name {
  max-width: 100%;
  width: rem(240);
  padding: rem(7) rem(7);
  border: 1px solid $green;
  color: $darkgreen;
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: rem(16);
  font-style: normal;
  font-weight: $normal;
  line-height: 1.500; /* 150% */

  @include mq("md"){
    width: rem(340);
    padding: rem(17) rem(15);
    text-align: left;
  }
}

.table__price {
  width: rem(106);
  padding: rem(16) rem(15);
  border: 1px solid $green;
  color: $darkgreen;
  text-align: right;
  font-family: "Noto Sans JP";
  font-size: rem(16);
  font-style: normal;
  font-weight: $normal;
  line-height: 1.500; /* 150% */

  @include mq("md"){
    width: rem(162);
    padding: rem(17) rem(15);
  }
}



