@use "global" as *;

.article {

}

.article__inner {
  width: 100%;
  max-width: rem(600);
}

.article__container {
  margin-top: rem(52);

  @include mq("md"){
    margin-top: rem(147);
    display: flex;
  }
}
