@use "global" as *;

.drawer-menu {
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100vh;
  background-color: $green;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.drawer-menu__inner {
  padding: 0 rem(15);
  width: 100%;
  height: inherit;
}

.drawer-menu__logo {
  width: 100%;
  max-width: rem(108);
  margin-top: rem(3);
  margin-left: rem(-3);
  height: rem(80);
  display: flex;
  align-items: center;
}

.drawer-menu__container {
  display: flex;
  justify-content: space-around;
  padding-top: rem(22);
}

.drawer-menu__items {
  display: flex;
  flex-direction: column;
}

.drawer-menu__items:nth-child(2) {
  margin-left: rem(-18);
}

.drawer-menu__item {
  display: inline-block;
}

.drawer-menu__item:not(:first-child) {
  margin-top: rem(17);
}

.drawer-menu__item.drawer-menu__item--bold:not(:first-child) {
  margin-top: rem(35);
}
