@use "global" as *;

.menu__title {
  @include mq("md") {
    color: $white;
    text-align: center;
    font-size: rem(18);
    font-style: normal;
    font-weight: $normal;
    line-height: 1; /* 100% */
  }
}

.menu__subtitle {
  @include mq("md") {
    margin-top: rem(4);
    color: $white;
    text-align: center;
    font-size: rem(10);
    font-style: normal;
    font-weight: $normal;
    line-height: 1.500; /* 150% */
  }
}