@use "global" as *;

.menu-item {
  color: $white;
  font-family: "Noto Sans JP";
  font-size: rem(16);
  font-style: normal;
  font-weight: $normal;
  line-height: 1.125; /* 112.5% */
}

.menu-item.menu-item--bold {
  font-weight: $bold;
  position: relative;
}

.menu-item.menu-item--bold::before {
  position: absolute;
  content: "";
  background-image: url(../images/menu-icon.png);
  background-size: cover;
  background-repeat: no-repeat;
  top: 5%;
  left: rem(-22);
  width: rem(18);
  height: rem(18);
}