@use "global" as *;

.sub-price {
  position: relative;
}

.sub-price__inner {
  position: relative;
  max-width: rem(600);
}

.sub-price__inner::before {
  position: absolute;
  content: "";
  top: rem(48);
  left: calc(50% - min(46vw, 620px));
  background-image: url(../../assets/images/illust-fish2.png);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  width: rem(120);
  height: rem(55);
  z-index: -1;

  @include mq("md") {
    top: rem(100);
    left: calc(50% - min(48vw, 620px));
    width: rem(301);
    height: rem(138);
  }
}

.sub-price__container {
  margin-top: rem(48);

  @include mq("md") {
    margin-top: rem(147);
  }
}

.sub-price__table {
  width: 100%;

  @include mq("md"){
    max-width: rem(702);
    margin-inline: auto;
  }
}

.sub-price__table:not(:first-child) {
  margin-top: rem(40);

  @include mq("md"){
    margin-top: rem(80);
  }
}
