@use "global" as *;

.sub-blog {
}

.sub-blog__inner {
  width: 100%;
  max-width: rem(600);
}

.sub-blog__container {
  margin-top: rem(52);

  @include mq("md"){
    margin-top: rem(147);
  }
}

.sub-blog__cards {
}
